@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.nav-dad {
  background-color: #2a9d8f;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.nav-dad a {
  text-decoration: none;
}
.nav-icon {
  height: 50px;
  padding: 20px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 20px;
  transition: 0.8s;
  font-weight: bold;
  list-style: none;
}

.nav-dad img:hover {
  background-color: #e9c46a;
}

.nav-logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.nav-logo h2 {
  margin-left: 20px;
  font-family: "Rocher";
  font-size: 50px;
}
@media (max-width: 768px) {
  .nav-dad {
    background-color: #2a9d8f;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 100;
    width: 100%;
  }

  .nav-icon {
    height: 30px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.8s;
    font-weight: bold;
    list-style: none;
  }

  .nav-dad img:hover {
    background-color: #e9c46a;
  }

  .nav-logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }

  .nav-logo h2 {
    margin-left: 15px;
    font-family: "Rocher";
    font-size: 30px;
  }
}
@media (max-width: 540px) {
  .nav-dad {
    background-color: #2a9d8f;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 125px;
  }

  .nav-icon {
    height: 20px;

    border-radius: 20px;
    font-size: 6px;
    transition: 0.8s;
    font-weight: bold;
    list-style: none;
  }

  .nav-dad img:hover {
    background-color: #e9c46a;
  }

  .nav-logo h2 {
    font-size: 25px;
    margin-bottom: -30px;
  }
  .nav-nombre-app {
    margin-top: 50px;
  }
}
@media (max-width: 412px) {
  .nav-dad {
    background-color: #2a9d8f;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 125px;
  }

  .nav-icon {
    height: 20px;

    border-radius: 20px;
    font-size: 6px;
    transition: 0.8s;
    font-weight: bold;
    list-style: none;
  }

  .nav-dad img:hover {
    background-color: #e9c46a;
  }

  .nav-logo h2 {
    font-size: 25px;
    margin-bottom: -30px;
  }
  .nav-nombre-app {
    margin-top: 50px;
  }
}

@media (max-width: 280px) {
  .nav-dad {
    background-color: #2a9d8f;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    z-index: 100;
  }

  .nav-icon {
    height: 10px;
    border-radius: 20px;
    font-size: 6px;
    transition: 0.8s;
    font-weight: bold;
    list-style: none;
  }

  .nav-dad img:hover {
    background-color: #e9c46a;
  }

  .nav-logo h2 {
    font-size: 15px;
    margin-bottom: -30px;
  }
  .nav-nombre-app {
    margin-top: 50px;
  }
}
