@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3e7388;
}
h1 {
  font-family: "Poppins", sans-serif;
}

button {
  font-size: 20px;
  background-color: #e9c46a;
  border: 5px solid rgba(199, 216, 249, 0.1);
  border-radius: 10px;
  transition: 0.8s;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
button:hover {
  background: #e76f51;
}

@keyframes animationPro {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
