/* background-color: #264653; */

.dad-home {
  background-color: #3e7388;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.titel-home {
  margin-top: 120px;
  text-align: center;
  font-size: 15px;
}
.home-grip-sercha {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 20px;
}
.titel-home input {
  border: 3px solid #f4a261;
  height: 50px;
  width: 780px;
  border-radius: 10px;
  transition: 1s;
  margin-bottom: 20px;
  margin-right: 20px;
}
.titel-home input:hover {
  background-color: #e9f2f5;
}
.search-icon {
  height: 40px;
}

.home-selectors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.home-selectors select {
  background-color: #e9f2f5;
  border: 1px solid #264653;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
  margin: 25px;
  margin-right: 10px;
  margin-bottom: 100px;
  border: 2px solid #f4a261;
}
.conteiner-home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-gap: 50px;
}

.conteiner-data {
  box-shadow: 0px 0px 14px -5px;
  transition: 0.6s;
  animation: ease-in-out;
  background-color: white;
  border-radius: 10px;
}

.conteiner-data:hover {
  transform: scale(1.065);
  box-shadow: 0px 0px 14px 0px rgb(46, 58, 68);
  background: rgb(255, 191, 141);
  background: linear-gradient(
    0deg,
    rgba(255, 191, 141, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.dad-home select {
  display: flex;
}
