@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.dad-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo {
  width: 500px;
  padding: 30px 20%;
  margin: 30px;
  font-size: 15px;
  line-height: 1.5;
  background-color: #fef6f1;
  box-shadow: 1px 5px 25px rgb(0, 0, 0, 0.45);
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  margin-top: 120px;
}
.parrafo img {
  width: 250px;
  border-radius: 10px;
  float: left;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.parrafo h1 {
  text-align: center;
}

.griod-parr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.griod-parr p {
  margin-right: 400px;
  font-size: 20;
  margin-bottom: 30px;
}
.dad-details-dieta {
  text-align: center;
}
