.lending-dad {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 100%;
}

.lending-dad button {
  text-align: center;
  font-family: "Rocher";
  margin-top: 275px;
  margin-right: 100px;
  font-size: 50px;
}

.lending-dad img {
  display: flex;
  height: 400px;
}
